<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>World's Hardest Word Game</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/img/favicon/site.webmanifest">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="/js/websiteLoader.js"></script>
</head>

<body onload="start()">
	<div class="loader">
		<p><i class="fas fa-circle-notch spinny loading"></i> Loading...</p>
		<br>
	</div>
	<div style="text-align: center;">
		<p id="def"></p>
		<span>
			<input type="text" id="userGuess" class="text-box" placeholder="Enter word here...">
			<input type="button" value="submit" id="submit">
		</span>

		<div id="yes-no"></div>
	</div>

	<div class="credit">Favicon made by <a class="link" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a class="link" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	<script src="/js/index.js"></script>
</body>

</html>