@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.top {
  margin-bottom: 5%;
  margin-left: 2%;
  overflow: hidden;
}

.top p {
  display: inline-block;
  margin: 0;
}

.head {
  font: 'Roboto Mono';
  font-size: 3em;
  font-weight: 900;
  font-stretch: expanded;
}

.text-box {
  height: 70%;
  width: 15%;
  border-radius: 0.3em;
  background-color: #edf6ff;
  border: none;
  outline: none;
  padding: 0.7em;
}

.guessButton {
  height: 70%;
	cursor: pointer;
  width: auto;
  border-radius: 0.3em;
  background-color: #edf6ff;
  border: none;
  outline: none;
  padding: 0.7em;
}

.guessButton:hover {
  height: 70%;
  width: auto;
  border-radius: 0.3em;
  background-color: #a3d3ff;
  border: none;
  outline: none;
  padding: 0.7em;
}

.log-in {
	display: flex;
	justify-content: center;
	align-items: center;
}
